.hoom
  .light
    .main
      .main__top
        %h2.main__top__name
          = current_user.name
      .main__header
        .footer
          = form_with model: [@group, @calendar], html: {class: "form"}, local: true do |f|
            .input-box
              = f.text_field :content, class: 'input-box__text', placeholder: 'dates'
            = f.submit 'Go', class: 'submit__btn'
        %h4.main__header__group
          = @group.name
        .main__header__edit
          = link_to edit_group_path(@group) do
            = icon('fas', 'cog', class:'edit')
      .main__calendar
        .main__calendar__plan
          - current_user.calendars.each do |calendar|
            .date
              .date__nen
                = calendar.created_at.strftime("%Y")
              .date__gatu
                .date__gatu__tuki
                  = calendar.created_at.strftime("%m")
                .date__gatu__niti
                  = calendar.date